test_data/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://example.org/person-v2"
    targetNamespace="http://example.org/person-v2"
    elementFormDefault="qualified">

    <xs:element name="employees">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" maxOccurs="unbounded" type="EmployeeType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="EmployeeType">
        <xs:sequence>
            <xs:element name="fullName" type="xs:string"/>
            <xs:element name="dateOfBirth" type="xs:date"/>
            <xs:element name="department" type="xs:string"/>
            <xs:element name="position" type="xs:string"/>
            <xs:element name="salary" type="xs:decimal" minOccurs="0"/>
            <xs:element name="address" type="AddressType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="empId" type="xs:integer" use="required"/>
        <xs:attribute name="hireDate" type="xs:date"/>
    </xs:complexType>

    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="state" type="xs:string"/>
            <xs:element name="zipCode" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>